# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

# Yarn Integrity file
.yarn-integrity

# Output of 'npm/yarn pack'
*.tgz

# Optional REPL history
.node_repl_history

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Local dotenv files
.env.local*

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Optional eslint cache
.eslintcache

# Mac files
.DS_Store

# Project output
dist
public
