$striped-background: repeating-linear-gradient(-45deg, #f9f9f9, #f9f9f9 3px, white 3px, white 6px);

#app-root {
	overflow: hidden;
}

#app-header {
	padding: 0 0.5rem;
	background: white;

	.header-action {
		width: 6rem;
	}

	.pixel-showcase-value {
		border-radius: 1rem;
		width: 4rem;
		height: 2.5rem;
		color: white;
		font-size: 1.5rem;
		font-weight: bold;
		line-height: 2.4rem;
		text-align: center;

		&#r {
			background-color: #f5222d;
		}

		&#g {
			background-color: #52c41a;
		}

		&#b {
			background-color: #1890ff;
		}

		&#a {
			color: black;
			background: $striped-background;
		}
	}
}

#app-content {
	display: flex;
	justify-content: space-between;
	height: calc(100vh - 64px);

	.canvas-wrapper {
		overflow: auto;
		position: relative;
		height: 100%;
		background: $striped-background;
	}

	&.two-active-canvases {
		.canvas-wrapper:not(#hidden-wrapper) {
			width: 50%;
		}

		#hidden-wrapper {
			width: 0;
		}
	}

	&.three-active-canvases .canvas-wrapper {
		width: 33.33%;
	}
}
